<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col-10">
                <div>
                    <strong>글 제목이 올 자리</strong>
                </div>
                <div>
                    글 번호: 1022 | 12:03:25
                </div>
            </div>
            <div class="col-2 ml-auto">
                <div>
                    홍길동
                </div>
                <div>
                    조회 21 리플 3
                </div>
            </div>
        </div>
        <br>
        <hr>
        <div class="row">

            <div class="col-10 mr-auto">
                <div>글 내용글 내용글 내용글 내용글 내용글 내용글 내용글
                    내용글 내용글 내용글 내용글 내용글 내용글 내용글 내용글
                    내용글 내용글 내용글 내용글 내용글 글 내용글 내용글 내용
                    글 내용글 내용글 내용글 내용글 내용내용글 내용글 내용글
                    내용글 내용글 내용글 내용글 내용글 내용글 내용글 내용 </div>
                <br>
            </div>
        </div>
        <div class="row">
            <div class="col-2 ml-auto">
                <span>수정버튼</span>
                <span>삭제버튼</span>
            </div>
        </div>
        <br>
        <hr>
        <div class="row">
            <div class="col-8 mr-auto">
                <span>남의댓글1남의댓글1남의댓글1남의댓글1남의댓글1남의댓글1남의댓글1남의댓글1</span>
                <span>남의댓글2남의댓글2남의댓글2남의댓글2남의댓글2남의댓글2남의댓글2남의댓글2</span>
                <span>남의댓글2남의댓글2남의댓글2남의댓글2남의댓글2남의댓글2남의댓글2남의댓글2</span>
                <span>남의댓글2남의댓글2남의댓글2남의댓글2남의댓글2남의댓글2남의댓글2남의댓글2</span>
            </div>
            <div class="col-8 ml-auto">
                <span>내꺼댓글내꺼댓글내꺼댓글내꺼댓글내꺼댓글내꺼댓글내꺼댓글내꺼댓글내꺼댓글</span>
                <span>내꺼댓글내꺼댓글내꺼댓글내꺼댓글내꺼댓글내꺼댓글내꺼댓글내꺼댓글내꺼댓글</span>
                <span>내꺼댓글내꺼댓글내꺼댓글내꺼댓글내꺼댓글내꺼댓글내꺼댓글내꺼댓글내꺼댓글</span>
            </div>
        </div>
        <br><br>
        <div class="row">
            <div class="col-10 ml-auto">
                <span>댓글폼 등록비이이이이이이이이이이이이이이이이이이인칸</span>
            </div>
            <div class="col-2 mr-auto">
                <span>댓글등록버튼</span>
            </div>

        </div>
    </div>





</body>

</html>