doctype html
html
    head
        title Index Page
    body
        // JAde String
        #header
            h1 Hello Jade .. !
            h2 Lorem Ipsum
        hr
        .article
            a(href="http://hanbit.co.kr", data-test='multiple Attribute') Go to Hanbit Media